<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bible Quest</title>
    <!-- <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon"> -->
    <!-- Bulma Version 0.7.1-->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" /> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style/css/mystyles.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/css/mystyles.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style/css/bulma.min.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/css/index.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/index.js') }}"></script> -->
</head>
<!-- ---------------------------------------------- start of nav bar ---------------------------------------------- -->
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <!-- <a class="navbar-item" href="/">
                <img src="{{ url_for('static', filename='images/WebsiteHeader2018.png') }}" alt="Bible Quest">
            </a> -->
            <!-- make drop down menu for mobile -->
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        
        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="#home">
                    Home
                </a>
                <!-- ----------------------- Code for Link to Register/Login via Popup window -----------------------  -->
                <a class="navbar-item trigger_popup_fricc" id=".hover_bkgr_register">Account</a>
                
                <div class="hover_bkgr_register">
                    <span class="helper"></span>
                    <div>
                        <form id="register" class="formToReset" action="/registerCustomer" method="post">
                            <div class="field">
                                <label for="registerName" class="label">Name</label>
                                <div class="control">
                                    <input id="registerName" name="rname" class="input" type="text" placeholder="Name">
                                </div>
                            </div>
                            
                            <div class="field">
                                <label for="registerEmail" class="label">Email</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input id="registerEmail" name="remail" class="input" type="email" placeholder="Email">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </span>
                                </div>
                            </div>
                            
                            <div class="field">
                                <label for="registerPhoneNumber" class="label">Phone Number</label>
                                <div class="control">
                                    <input id="registerPhoneNumber" name="rphone_number" class="input" type="text" placeholder="xxx-xxx-xxxx">
                                </div>
                            </div>
                            
                            <div class="field">
                                <label for="registerAddress" class="label">Address</label>
                                <div class="control">
                                    <input id="registerAddress" name="raddress" class="input" type="text" placeholder="Address">
                                </div>
                            </div>
                            
                            <div class="field">
                                <label for="registercity" class="label">City</label>
                                <div class="control">
                                    <input id="registercity" name="rcity" class="input" type="text" placeholder="Enter a City">
                                </div>
                            </div>
                            
                            <div class="columns">
                                <div class="field column is-one-thirds">
                                    <label for="registerState" class="label">State</label>
                                    <div class="control">
                                        <select id="registerState" name="rstate" class="input">
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="field column is-one-thirds">
                                    <label for="registerZip" class="label">Zip Code</label>
                                    <div class="control">
                                        <input id="registerZip" name="rzip" class="input" type="number" placeholder="Zip Code">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="field">
                                <label for="registerPassword" class="label">Password</label>
                                <div class="control">
                                    <input id="registerPassword" name="rpassword" class="input" type="password" placeholder="Enter a Password">
                                </div>
                            </div>
                            
                            <div class="field">
                                <label for="registerConfirm_password" class="label">Confirm Password</label>
                                <div class="control">
                                    <input id="registerConfirm_password" name="rconfirm_password" class="input" type="password" placeholder="Please re-enter password">
                                </div>
                            </div>
                            
                            <div class="field">
                                <label for="registerPurpose" class="label">How will you use our product?</label>
                                <div class="control">
                                    <select id="registerPurpose" name="rpurpose" class="input">
                                        <option selected disabled>Choose an option</option>
                                        <option value="1">Home</option>
                                        <option value="2">Church</option>
                                        <option value="3">Other</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-link">Register</button>
                                </div>
                            </div>
                            
                        </form>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="popupCancel button is-link is-inverted">Cancel</button>
                            </div>
                            <div class="control">
                                <button class="popupLogin button is-link is-inverted">Already Registered.....Login.....</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ----------------------- End Code for Link to Register via Popup window -----------------------  -->
                <!-- ----------------------- Code for Link to Login via Popup window -----------------------  -->
                <div class="hover_bkgr_login">
                    <span class="helper"></span>
                    <div>
                        <!-- <div class="popupCloseButton">X</div> -->
                        <!-- <p>Add any HTML content<br />inside the popup box!</p> -->
                        <form id="login" class="formToReset" action="/loginCustomer" method="post">
                            <div class="field">
                                <label for="loginEmail" class="label">Email</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input id="loginEmail" name="lemail" class="input" type="email" placeholder="Email">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </span>
                                </div>
                            </div>
                            
                            <div class="field">
                                <label for="loginPassword" class="label">Password</label>
                                <div class="control">
                                    <!-- must contain 1 upper, 1 lower, 1 number and 1 special char -->
                                    <input id="loginPassword" name="lpassword" class="input" type="password" placeholder="Enter Password">
                                </div>
                            </div>
                            
                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-link">Login</button>
                                </div>
                            </div>
                            
                        </form>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="popupCancel button is-link is-inverted">Cancel</button>
                            </div>
                            <div class="control">
                                <button class="popupRegister button is-link is-inverted">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ----------------------- End Code for Link to Login via Popup window -----------------------  -->
                <a class="navbar-item" href="https://biblequestcbc.wixsite.com/website/web-store" target="_blank">
                    Products
                </a>
                <a class="navbar-item" href="#resources">
                    Resources/Community
                </a>
                <a class="navbar-item" href="#contact">
                    Contact
                </a>
                <a class="navbar-item" href="https://biblequestcbc.wixsite.com/website/faq" target="_blank">
                    FAQ
                </a>
                <a class="navbar-item profile trigger_popup_fricc is-hidden" id="#hover_bkgr_profile">
                    Profile
                </a>
                <div class="hover_bkgr_profile">
                    <span class="helper"></span>
                    <div>
                        <!-- <div class="popupCloseButton">X</div> -->
                        <!-- <p>Add any HTML content<br />inside the popup box!</p> -->
                        <form id="profile" class="formToReset" action="/updateCustomer" method="post">
                            <div class="field">
                                <label for="new_password" class="label">New Password</label>
                                <div class="control">
                                    <!-- must contain 1 upper, 1 lower, 1 number and 1 special char -->
                                    <input id="new_password" name="new_password" class="input" type="password" placeholder="Enter New Password">
                                </div>
                            </div>

                            <div class="field">
                                <label for="new_confirm_password" class="label">Confirm New Password</label>
                                <div class="control">
                                    <!-- must contain 1 upper, 1 lower, 1 number and 1 special char -->
                                    <input id="new_confirm_password" name="new_confirm_password" class="input" type="password" placeholder="Confirm Password Password">
                                </div>
                            </div>
                            
                            <div class="field">
                                <label for="old_password" class="label">Current Password</label>
                                <div class="control">
                                    <!-- must contain 1 upper, 1 lower, 1 number and 1 special char -->
                                    <input id="old_password" name="old_password" class="input" type="password" placeholder="Current Password">
                                </div>
                            </div>
                            
                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-link">Update Password</button>
                                </div>
                            </div>
                            
                        </form>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="popupCancel button is-link is-inverted">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="navbar-item logout is-hidden">
                    Logout
                </a>
            </div>
        </div>
    </nav>
<!-- ---------------------------------------------- end of nav bar ---------------------------------------------- -->
<!-- ---------------------------------------------- start of hero section ---------------------------------------------- -->
    <!-- <section class="hero">
        <figure class="image"> -->
            <!-- <img src="https://images.pexels.com/photos/167636/pexels-photo-167636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"> -->
        <!-- </figure>
    </section> -->
<!-- ---------------------------------------------- end of hero ---------------------------------------------- -->
<!-- ---------------------------------------------- start of home section ---------------------------------------------- -->
    <!-- <section id="home" class="section">
        <div class="container has-text-centered">
            <h2 class="title is-size-1 has-text-weight-semibold has-text-white">Bible Quest</h2>
            <h3 class="subtitle has-text-white has-text-weight-semibold is-size-4">Bible Quest empowers parents to teach their children to use God's Word as the FOUNDATION for their thought process!</h3>
            <div class="columns is-centered">
                <div class="content has-text-left column is-three-quarters has-text-white has-text-weight-semibold">
                    <ul>
                        <li>EQUIP all learners with knowledge through memorization.
                            <ul>
                                <li>Verses set to music and the Big Bible Story Song help kids remember Scripture and Biblical chronology.</li>
                                <li>Simple facts about people in the Bible underscore God's interactions with them.</li>
                                <li>Maps of important places reinforce the historical reality of the Biblical accounts.</li>
                            </ul>
                        </li>
                        <li>EMPOWER older students with Explorations and Exercises to enhance Biblical understanding.</li>
                        <li>EXPEDITIONS focus on wisdom development for teens and advanced learners.</li>
                    </ul>
                </div>
            </div>
            <div class="columns" style="padding: 2rem">
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-2by1">
                                    <img src="{{ url_for('static', filename='images/new_images/EquipWebsite2018.png')}}" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content border-dark"> -->
                                <!-- <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">John Smith</p>
                                        <p class="subtitle is-6">@johnsmith</p>
                                    </div>
                                </div> -->
                                
                                <!-- <div class="content">
                                    The Equip Phase builds biblical knowledge through memorization. Maximize and master memorized content with active, visual, and audio elements!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-2by1">
                                    <img src="{{ url_for('static', filename='images/new_images/EmpowerWebsite2018.png')}}" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content"> -->
                                <!-- <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">John Smith</p>
                                        <p class="subtitle is-6">@johnsmith</p>
                                    </div>
                                </div> -->
                                
                                <!-- <div class="content">
                                    The Empower Phase aims to develop student understanding through Explorations and Exercises. Explorations involve questions and activities that help students think Biblically. Exercises provide practice using Biblical information with speed and accuracy.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-2by1">
                                    <img src="{{ url_for('static', filename='images/new_images/ExpeditionWebsite2018.png')}}" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="card-content"> -->
                                <!-- <div class="media-content">
                                    <p class="title is-4">John Smith</p>
                                    <p class="subtitle is-6">@johnsmith</p>
                                </div> -->
                                <!-- <div class="content">
                                    Expeditions help students of the Bible to use what they know and understand to communicate biblical truth to others. By engaging with Biblical truth under the guidance of a mentor, students develop biblical wisdom.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section> -->
    <figure class="image">
        <img src="{{ url_for('static', filename='images/01_12/Header.png')}}" alt="Placeholder image"" alt="">
    </figure>
    <figure class="image">
        <img src="{{ url_for('static', filename='images/01_12/Section 2 with text.png')}}" alt="Placeholder image"" alt="">
    </figure>
    <figure class="image">
        <img src="{{ url_for('static', filename='images/01_12/Section 3.png')}}" alt="Placeholder image"" alt="">
    </figure>
    <figure class="image">
        <img src="{{ url_for('static', filename='images/01_12/Section 4.png')}}" alt="Placeholder image"" alt="">
    </figure>
<!-- ---------------------------------------------- end of hero ---------------------------------------------- -->
<!-- ---------------------------------------------- start of account section ---------------------------------------------- -->
    <section id="account" class="section is-hidden">
        <div class="container has-text-centered">
            <h2 class="title">Account</h2>
            <p class="subtitle is-6">This is the file account section for Bible Quest. Logging in here gives you access to any digital content for Bible Quest products that you own. If you have a new product that includes digital content, enter your product key precisely in the box below to activate your files and make them available to download. <span class="has-text-weight-bold">Please Note:</span> This "files account" is a separate account from the account that allows posting comments on the blog or in the forums. A separate log-in for these community resources will be required.</p>
            <form class="addUserProduct" action="/addProductToUser">
                <div class="field">
                    <label for="productCode" class="label">Enter Product Code</label>
                    <div class="control">
                        <input id="productCode" class="input" name='acode' type="text" placeholder="code">
                    </div>
                </div>
                <div class="control">
                    <button class="button is-primary">Submit</button>
                </div>
            </form>
            <h4 class='subtitle'>Your products</h4>
            <article class="user_products">
            </article>
        </div>
    </section>
<!-- ---------------------------------------------- end of home ---------------------------------------------- -->
<!-- ---------------------------------------------- start of products section ---------------------------------------------- -->
    <!-- <section id="products" class="section tile-background-color">
        <div class="container has-text-centered">
            <h2 class="title">Products</h2>
            
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                            <figure class="image box is-paddingless">
                                <img src="{{ url_for('static', filename='images/01_12/Product 2018 Church Kit.png')}}" alt="church edition">
                            </figure>
                        <a class="button tile-background-color" href="https://biblequest.webs.com/apps/webstore/products/show/7716297" target="_blank">Purchase</a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                            <figure class="image box is-paddingless">
                                <img src="{{ url_for('static', filename='images/01_12/Product 2018 OT-NT Kit.png')}}" alt="deluxe kit">
                            </figure>
                        <a class="button tile-background-color" href="https://biblequest.webs.com/apps/webstore/products/show/6818889" target="_blank">Purchase</a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                            <figure class="image box is-paddingless">
                                <img src="{{ url_for('static', filename='images/01_12/new_testament.png')}}" alt="new testament kit">
                            </figure>
                        <a class="button tile-background-color" href="https://biblequest.webs.com/apps/webstore/products/show/5956859" target="_blank">Purchase</a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                            <figure class="image box is-paddingless">
                                <img src="{{ url_for('static', filename='images/01_12/old_testament.png')}}" alt="old testament kit">
                            </figure>
                        <a class="button tile-background-color" href="https://biblequest.webs.com/apps/webstore/products/show/5956856" target="_blank">Purchase</a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                            <figure class="image box is-paddingless">
                                <img src="{{ url_for('static', filename='images/01_12/davids_mighty_men.png')}}" alt="david's mighty men">
                            </figure>
                        <a class="button tile-background-color" href="https://biblequest.webs.com/apps/webstore/products/show/6794399" target="_blank">Purchase</a>
                    </article>
                </div>
            </div>
            
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                            <figure class="image box is-paddingless">
                                <img src="{{ url_for('static', filename='images/01_12/bible_girls_party.png')}}" alt="bible girls party">
                            </figure>
                        <a class="button tile-background-color" href="https://biblequest.webs.com/apps/webstore/products/show/6794404" target="_blank">Purchase</a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                            <figure class="image box is-paddingless">
                                <img src="{{ url_for('static', filename='images/01_12/Product 2018 OT CD.png')}}" alt="new testament cd">
                            </figure>
                        <a class="button tile-background-color">Purchase</a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                            <figure class="image box is-paddingless">
                                <img src="{{ url_for('static', filename='images/01_12/Product 2018 NT CD.png')}}" alt="old testament cd">
                            </figure>
                        <a class="button tile-background-color">Purchase</a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                            <figure class="image box is-paddingless">
                                <img src="{{ url_for('static', filename='images/01_12/Product 2018 NT Cards.png')}}" alt="new testemant card deck">
                            </figure>
                        <a class="button tile-background-color">Purchase</a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                            <figure class="image box is-paddingless">
                                <img src="{{ url_for('static', filename='images/01_12/Product 2018 OT Cards.png')}}" alt="old testemant card deck">
                            </figure>
                        <a class="button tile-background-color">Purchase</a>
                    </article>
                </div>
            </div>
        </div>
    </section> -->
<!-- ---------------------------------------------- end of products ---------------------------------------------- -->
<!-- ---------------------------------------------- start of resources section ---------------------------------------------- -->
    <section id="resources" class="section">
        <div class="container has-text-centered">
            <h2 class="title">Resources/Community</h2>
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child box tile-background-color">
                        <figure class="image box is-paddingless">
                            <img src="{{ url_for('static', filename='images/01_12/BlogIcon2018.jpg')}}" alt="">
                        </figure>
                        <p class="title">Blog</p>
                        <!-- <p class="subtitle">Fri 27 Nov 2016</p> -->
                        <a class="button  is-warning has-text-white has-text-weight-bold" href="https://biblequestcbc.wixsite.com/website/blog" target="_blank">Go</a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box tile-background-color">
                        <figure class="image box is-paddingless">
                            <img src="{{ url_for('static', filename='images/01_12/ForumIcon2018.jpg')}}" alt="">
                        </figure>
                        <p class="title">Forums</p>
                        <!-- <p class="subtitle">Fri 27 Nov 2016</p> -->
                        <a class="button  is-warning has-text-white has-text-weight-bold" href="https://biblequestcbc.wixsite.com/website/forum" target="_blank">Go</a>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box tile-background-color">
                        <figure class="image box is-paddingless">
                            <img src="{{ url_for('static', filename='images/new_images/StoreIcon.png')}}" alt="">
                        </figure>
                        <p class="title">Store</p>
                        <!-- <p class="subtitle">Fri 27 Nov 2016</p> -->
                        <a class="button is-warning has-text-white has-text-weight-bold" href="https://biblequestcbc.wixsite.com/website/web-store" target="_blank">Go</a>
                    </article>
                </div>
            </div>
        </div>
    </section>
<!-- ---------------------------------------------- end of products ---------------------------------------------- -->
<!-- ---------------------------------------------- start of contact section ---------------------------------------------- -->
    <section id="contact" class="section columns tile-background-color is-marginless">
        <div class="container has-text-centered column is-10 is-offset-1">
            <h2 class="title">Contact</h2>
            
            <form action="email" method="post">
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" type="text" name="email_name" placeholder="Name">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" type="email" name="email_email" placeholder="Email">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea" name="email_message" placeholder="Message us"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-warning has-text-white has-text-weight-bold">
                                    Send message
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
<!-- ---------------------------------------------- end of contact ---------------------------------------------- -->
<!-- ---------------------------------------------- start of footer ---------------------------------------------- -->
    <footer class="footer is-white">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <a href="https://www.facebook.com/biblequestcbc/" target="_blank">
                        <i class="fab fa-facebook-square fa-2x"></i>
                    </a>
                </p>
            </div>
        </div>
    </footer>
    <!-- ---------------------------------------------- end of footer ---------------------------------------------- -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/validate.js') }}"></script>
    <script src="{{ url_for('static', filename='js/validate-additional.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</body>

</html>

