<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bible Quest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/css/mystyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/css/index.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
</head>
<!-- ---------------------------------------------- start of nav bar ---------------------------------------------- -->

<body>
    <div class="section">
        <figure class="image">
            <img src="{{ url_for('static', filename='images/01_12/Header.png')}}" alt="Placeholder image">
        </figure>
    </div>
    <div class="section">
        <div class="columns">
            <div class="column is-1">
                <a href="https://www.biblequestclassical.com" target="_blank">
                    Home
                </a>
                <a class="logout is-hidden">
                    Logout
                </a>
            </div>
            <div class="column-display column is-10"></div>
            <!-- ---------------------------------------------- start of account section ---------------------------------------------- -->
            <!-- <section id="account" class="section is-hidden"> -->
            
        </div>
    </div>
    <div class="hover_bkgr_profile">
        <span class="helper"></span>
        <div>
            <form id="profile" class="formToReset" action="/updateCustomer" method="post">
                <div class="field">
                    <label for="new_password" class="label">New Password</label>
                    <div class="control">
                        <input id="new_password" name="new_password" class="input" type="password"
                            placeholder="Enter New Password">
                    </div>
                </div>

                <div class="field">
                    <label for="new_confirm_password" class="label">Confirm New Password</label>
                    <div class="control">
                        <input id="new_confirm_password" name="new_confirm_password" class="input" type="password"
                            placeholder="Confirm Password Password">
                    </div>
                </div>

                <div class="field">
                    <label for="old_password" class="label">Current Password</label>
                    <div class="control">
                        <input id="old_password" name="old_password" class="input" type="password"
                            placeholder="Current Password">
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Update Password</button>
                    </div>
                </div>

            </form>
            <div class="field is-grouped">
                <div class="control">
                    <button class="popupCancel button is-link is-inverted">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> end of nav-->
    <!-- </nav> -->
    <!-- ---------------------------------------------- end of nav bar ---------------------------------------------- -->


    <!-- ---------------------------------------------- end of home ---------------------------------------------- -->
    <!-- ---------------------------------------------- start of contact section ---------------------------------------------- -->
    <!-- contact is hidden, and will show when customer is logged in -->
    <!-- <section id="contact" class="section columns tile-background-color is-marginless"> -->


        <!-- <div class="container has-text-centered">
            <h2 class="title">Contact</h2>
            
            <form action="email" method="post">
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" type="text" name="email_name" placeholder="Name">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" type="email" name="email_email" placeholder="Email">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea" name="email_message" placeholder="Message us"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-warning has-text-white has-text-weight-bold">
                                    Send message
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div> -->


    <!-- </section> -->
    <!-- ---------------------------------------------- end of contact ---------------------------------------------- -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/validate.js') }}"></script>
    <script src="{{ url_for('static', filename='js/validate-additional.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</body>

</html>