.navbar {
    width: 100%;

}
.navbar-brand {
    box-sizing: content-box;
}
.navbar-brand .navbar-item {
    padding: 0 12px 0 3px;
    box-sizing: content-box;
    width: 100px;
}
.card .content {
    border-top: 2px solid #22175C;
    padding-top: .5rem;
}
.card {
    padding: 1rem;
    min-height: 450px;
    border-radius: 6px;
}
.navbar-item img {
    box-sizing: content-box;
    width: 100px;
    max-height: 100%;
}
#products image {
    margin-top: 1.5rem;
}
.button_color {
    background-color: #22175C;
    color: white;
    font-style: bold;
}
/* Popup box BEGIN */
.hover_bkgr_register, .hover_bkgr_login, .hover_bkgr_profile{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:75%;
    z-index:10000;
    overflow-y: scroll;
}
.hover_bkgr_register .helper, .hover_bkgr_login .helper, .hover_bkgr_profile .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_register > div, .hover_bkgr_login > div, .hover_bkgr_profile > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}

.tile-background-color {
    background-color: rgb(235,242,252);
}