@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');

$brown: #757763;

$primary: $brown;
$family-sans-serif: "Roboto", sans-serif;

@import "../../../node_modules/bulma/bulma.sass";